* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: rgb(243, 244, 246);
}
:root {
  --grayish: #2d2d2d52;
  --bg: #050505;
  --bg1: #1e1f1f;
  --bg2: #2d2c2d;
  --bg3: #101010;
  --gradient-color-1: #f96f10;
  --gradient-color-2: #ef5088;
  --blue-1: #3093ee;
  --blue-2: #0ec3fa;
  --purple-1: #994abe;
  --purple-2: #8a3ced;
  --green-1: #00b747;
  --green-2: #00acae;
  --overlay: #1f2028;
  --white: #f5f5f5;
  --text: #f5f5f5;
  --gray-text: #d2d2d2a6;
  --border-active: #4c526f;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button {
  -webkit-appearance: button;
  text-transform: none;
  cursor: pointer;
  border: 0;
  outline: 0;
}

/*Layout styling*/
.layout_con {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.layout {
  width: 70%;
  height: 450px;
  min-height: 450px;
  background: rgba(48, 48, 48, 0.2);
  border-radius: 10px;
  backdrop-filter: saturate(180%) blur(10px);
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  border: 2px solid var(--grayish);
  z-index: 1;
  overflow-y: auto;
}

.containerloader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 10px;
  flex-direction: column;
  color: var(--white);
  font-weight: 400;
  font-size: 1.1rem;
}
.loader {
  width: 40px;
  aspect-ratio: 1.154;
  position: relative;
  background: conic-gradient(
    from 120deg at 50% 64%,
    #0000,
    var(--gradient-color-1) 1deg 120deg,
    #0000 121deg
  );
  animation: l27-0 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  transform-origin: 50% 66%;
  animation: l27-1 1.5s infinite;
}
.loader:after {
  --s: -1;
}
@keyframes l27-0 {
  0%,
  30% {
    transform: rotate(0);
  }
  70% {
    transform: rotate(120deg);
  }
  70.01%,
  100% {
    transform: rotate(360deg);
  }
}
@keyframes l27-1 {
  0% {
    transform: rotate(calc(var(--s, 1) * 120deg)) translate(0);
  }
  30%,
  70% {
    transform: rotate(calc(var(--s, 1) * 120deg))
      translate(calc(var(--s, 1) * -5px), 10px);
  }
  100% {
    transform: rotate(calc(var(--s, 1) * 120deg)) translate(0);
  }
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg3);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
