* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: rgb(243, 244, 246);
}
:root {
  --grayish: #2d2d2d52;
  --bg: #050505;
  --bg1: #1e1f1f;
  --bg2: #2d2c2d;
  --bg3: #101010;
  --gradient-color-1: #f96f10;
  --gradient-color-2: #ef5088;
  --blue-1: #3093ee;
  --blue-2: #0ec3fa;
  --purple-1: #994abe;
  --purple-2: #8a3ced;
  --green-1: #00b747;
  --green-2: #00acae;
  --overlay: #1f2028;
  --white: #f5f5f5;
  --text: #f5f5f5;
  --gray-text: #575a60a6;
  --border-active: #4c526f;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button {
  -webkit-appearance: button;
  text-transform: none;
  cursor: pointer;
  border: 0;
  outline: 0;
}



/*Layout styling*/
.layout_con{
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.layout{
  width: 70%;
  height: 400px;
  background: rgba(48, 48, 48, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(38, 38, 38, 0.1);
  backdrop-filter: saturate(180%) blur(10px);
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  border: 2px solid var(--grayish);

}