.features_container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.features_wrapper {
  display: flex;
  gap: 2rem;
  width: 70%;
  height: 400px;
  align-items: center;
}
.f_text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 45%;
}
.icon_con {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  /* background: linear-gradient(
    60deg,
    var(--gradient-color-1),
    var(--gradient-color-2)
  ); */
  border-radius: 3px;
}
.f_icon {
  color: var(--white);
  font-size: 1.8rem;
}
.f_tagline {
  line-height: 50px;
}
.tag {
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--white);
}
.f_des {
  color: var(--gray-text);
  font-size: 18px;
  font-weight: 400;
}
.f_img {
  width:600px;
  height:400px;
  border: 2px solid var(--bg1);
  background-color: var(--grayish);
  border-radius: 8px;
  overflow: hidden;
}
.f_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 615px) {
  .f_tagline {
    line-height: 45px;
  }
  .writer {
    display: none;
  }
  .tag {
    font-size: 30px;
  }
  .features_container {
    min-height: fit-content;
  }
  .f_img {
    display: none;
  }
  .features_wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 0rem;
  }
  .f_text {
    display: flex;
    gap: 0rem;
    width: 100%;
  }
  .f_img {
    width: 100%;
    height: 800px;
    border: 2px solid var(--bg1);
    background-color: var(--grayish);
    border-radius: 8px;
    outline: 1px solid red;
  }
  .f_des {
    font-size: 18px;
  }
  .icon_con {
    margin-bottom: 10px;
  }
}
