.heroContainer > * {
  color: #fff;
}
.heroContainer {
  width: 70%;
  height: calc(100vh - 85px);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.heroContainer h2 {
  font-size: 55px;
  text-align: center;
  font-weight: 700;
}
.heroContainer h2 span {
  background: linear-gradient(
    90deg,
    var(--gradient-color-1),
    var(--gradient-color-2)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heroContainer p {
  margin: 35px 0;
  text-align: center;
  width: 600px;
  color: var(--gray-text);
  font-size: 20px;
}

.btnCon {
  display: flex;
  gap: 20px;
  font-size: 18px;
}
.btnCon button {
  height: 50px;
  width: 150px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.btnCon .btn_github {
  background: #fff;
  color: #000000;
  font-weight: 400;
}
.btnCon .btn_github:hover {
  outline: 4px solid var(--grayish);
}
.btnCon .btn_join {
  background-color: #101010;
  border: double 2px transparent;
  background-image: linear-gradient(var(--bg), var(--bg)),
    linear-gradient(to right, var(--gradient-color-1), var(--gradient-color-2));
}

@media screen and (max-width: 1100px) {
  .heroContainer {
    width: 80%;
  }
}

@media screen and (max-width: 1100px) {
  .heroContainer {
    width: 90%;
  }
}
