.container {
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  gap: 35px;
  flex-direction: column;
}
.searchBox {
  width: 65%;
  display: flex;
  gap: 10px;
}
.searchBox input {
  flex: 1;
  border: 0;
  outline: 0;
  padding: 10px 14px;
  color: #d2d2d2a6;
  border-radius: 7px;
  outline: 1.5px solid var(--grayish);
  background: #050505;
  height: 50px;
  font-weight: 400;
  font-family: "Poppins";
}

.imgBox {
  height: 200px;
  max-width: 350px;
}
.imgBox img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  outline: 2px dashed var(--grayish);
  object-fit: cover;
  padding: 6px;
  object-fit: contain;
}
.btnContainer {
  display: flex;
  gap: 15px;
}
.btnContainer button {
  padding: 7px 20px;
  border-radius: 7px;
}

.btnContainer .download {
  background: #fff;
}
