.imgContainer {
  height: calc(450px - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-direction: column;
  gap: 30px;
}

.imgBox {
  height: 200px;
  width: 350px;
  background: var(--bg1);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.imgBox p {
  margin: 0;
  color: var(--gray-text);
}
.imgBox img {
  height: 100%;
  width: 100%;
  border-radius: 7px;
  outline: 2px dashed var(--grayish);
}

.imgContainer button {
  padding: 10px 18px;
  background: var(--purple-2);
  border-radius: 50vw;
}
