.container {
  color: var(--text);
  border-bottom: 2px solid var(--grayish);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: var(--bg3);
}
.header {
  display: flex;
  align-items: center;
  padding: 25px 30px;
  gap: 25px;
}
.middle input {
  border: 0;
  outline: 0;
  padding: 10px 14px;
  color: #d2d2d2a6;
  border-radius: 7px;
  outline: 1.5px solid var(--grayish);
  background: #050505;
  height: 50px;
  width: 100%;
  font-weight: 400;
}
.header .middle {
  flex: 1;
}
.header .right button {
  background: #00b747;
  padding: 0 30px;
  border-radius: 7px;
  height: 49px;
}
.lower_box {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  gap: 25px;
}

.content_box {
  color: var(--gray-text);
  font-weight: 400;
  padding: 8px 10px 8px 20px;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  cursor: pointer;
  position: relative;
  transition: 0.1s;
  border: 1px solid var(--grayish);
}
.content_box .title {
  font-weight: 600;
  padding-bottom: 5px;
  color: var(--white);
}
.content_box .title span {
  text-transform: uppercase;
}
.content_box .description {
  font-weight: 200;
  color: var(--gray-text);
}
.content_box:hover {
  background: var(--grayish);
  /* scale: 1.01; */
}

.speak_btn {
  font-size: 20px;
  color: var(--green-1);
  background-color: var(--bg1);
  border-radius: 100%;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid var(--green-1);
}
.content_type_icon {
  font-size: 20px;
  color: var(--white);
  background-color: var(--bg1);
  border-radius: 100%;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid var(--green-1);
  background: var(--green-1);
}
/*make the hover effect and scale up */
.speak_btn:hover {
  background: var(--green-1);
  color: var(--white);
  scale: 1.1;
  top: 52%;
}

.content_box::before,
.content_box::after,
.span::before,
.span::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: transparent;
  transition: 0.2s;
  /* -webkit-mix-blend-mode: hue; */
}

.content_box::before {
  top: -2px;
  left: -2px;
  border-top: 2px solid var(--green-1);
  border-left: 2px solid var(--green-1);
}
.content_box::after {
  top: -2px;
  right: -2px;
  border-top: 2px solid var(--green-1);
  border-right: 2px solid var(--green-1);
}

.span::before {
  bottom: -2px;
  left: -2px;
  border-bottom: 2px solid var(--green-1);
  border-left: 2px solid var(--green-1);
}
.span::after {
  bottom: -2px;
  right: -2px;
  border-bottom: 2px solid var(--green-1);
  border-right: 2px solid var(--green-1);
}

.content_box:hover::before,
.content_box:hover::after,
.content_box:hover .span::before,
.content_box:hover .span::after {
  width: calc(180px / 2);
  height: calc(50px / 2);
}
