.container {
  color: var(--text);
  border-bottom: 2px solid var(--grayish);
}
.header {
  display: flex;
  align-items: center;
  padding: 25px 30px;
  gap: 20px;
}
.middle input {
  border: 0;
  outline: 0;
  padding: 10px 14px;
  color: #d2d2d2a6;
  border-radius: 7px;
  outline: 1.5px solid var(--grayish);
  background: #050505;
  height: 50px;
  width: 100%;
  font-weight: 400;
}
.header .middle {
  flex: 1;
}
.header .right button {
  background: #00b747;
  padding: 0 30px;
  border-radius: 7px;
  height: 49px;
}
